extends layout

block content
    script(src='/js/groceryApp.js')
    h1= title
    div(ng-app="grocery_list" ng-controller="GroceryListCtrl")
        div(class="container")
            h2 Grocery List Items
            input(type="text")
            button() Add
            ul
                li(ng-repeat="item in listItems")
                    {{ item.name }} -- {{ item.price }}
        div(class="container")
            h2 Pantry Staples
            ul
                li(ng-repeat="item in stapleItems")
                    input(type="checkbox", checklist-model="selectedStapleItems", checklist-value="item._id")
                    {{ item.name }} -- {{ item.price }}
            button(ng-click="addStapleItem()") Add